# Data Science Tools & Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerized.

**Objectives**
* List Data Science languages
* List Data Science libraries
* List Data Science open source IDEs
* Present some examples of arithmetic expressions in python

Some of the languages Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the most common libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. MatPlotLib

Data Science Tools|
-------------------|
Jupyter Notebooks|
R Studio|
Zeppelin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in python

In [2]:
#Simple expression to multiply then add numbers
(3*4)+5

17

In [5]:
#Converting 200 minutes to hours through dividing by 60
m = 200
h = m/60
print(h)

3.3333333333333335

## Author
Anas Salah